Library/
Temp/
obj/
Assets/Backup.zip
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
BuzzSaw-csharp.sln
BuzzSaw.sln
*.suo

_ReSharper*

[Bb]in
[Rr]elease
[Dd]ebug

Build

Thumbs.db
Desktop.ini
SpaceShooter/Assembly-CSharp-Editor-vs.csproj
SpaceShooter/Assembly-CSharp-Editor.csproj
SpaceShooter/Assembly-CSharp-Editor.pidb
SpaceShooter/Assembly-CSharp-vs.csproj
SpaceShooter/Assembly-CSharp.csproj
SpaceShooter/Assembly-CSharp.pidb
SpaceShooter/Assembly-UnityScript.pidb
SpaceShooter/SpaceShooter.apk
